// bower:scss
// endbower



// imports

@import "variables";



// base styles

html {
  overflow-y: scroll;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $darkgrey;
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em;
  font-family: "Chaparral Pro", serif;
  font-weight: normal;
  line-height: 1;
}

p, ul, ol, dl {
  margin: 0 0 1em;
}

a {
  color: $orange;
}



// header

.header {
  position: fixed;
  top: 8vw;
  left: 10vw;
  z-index: 1000;

  @include breakpoint(s) {
    top: 4vw;
    left: 5vw;
  }

  @include breakpoint(m) {
    top: 2.66666vw;
    left: 3.33333vw;
  }

  @include breakpoint(l) {
    top: 2vw;
    right: 2.5vw;
    left: auto;
  }

  @include breakpoint(xl) {
    top: 1.6vw;
    right: auto;
    left: 2vw;
  }
}

.logo {
  margin: 0;
}

.logo__image {
  display: block;
  width: 10vw;
  height: auto;
  min-width: 100px;
  max-width: 180px;
}



// grid

.grid {
  overflow: hidden;
}

// item

.item {
  position: relative;
  float: left;
  width: 100%;
  height: auto;

  @include breakpoint(s) {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
  }

  @include breakpoint(m) {
    width: 33.33333%;
    padding-bottom: 33.33333%;
  }

  @include breakpoint(l) {
    width: 25%;
    padding-bottom: 25%;
  }

  @include breakpoint(xl) {
    width: 20%;
    padding-bottom: 20%;
  }
}

// item components

.item__content {
  display: block;
  position: relative;
  width: 100%;
  height: auto;

  @include breakpoint(s) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }
}

.item__heading {
  margin: 0 0 .5em;
  font-family: "Chaparral Pro", serif;
  font-size: 15vw;
  font-weight: normal;
  line-height: 1;
  text-transform: lowercase;

  @include breakpoint(s) {
    font-size: 7.5vw;
  }

  @include breakpoint(m) {
    font-size: 4.99999vw;
  }

  @include breakpoint(l) {
    font-size: 3.75vw;
  }

  @include breakpoint(xl) {
    font-size: 3vw;
  }
}

.item__heading-segment {
  display: block;

  &:after {
    content: ".";
  }
}

.item__heading-segment--tighten {
  margin-top: -.15em;
}

// item variations

.item--w2 {
  @include breakpoint(s) {
    width: 100%;
  }

  @include breakpoint(m) {
    width: 66.66666%;
  }

  @include breakpoint(l) {
    width: 50%;
  }

  @include breakpoint(xl) {
    width: 40%;
  }
}

.item--h2 {
  @include breakpoint(s) {
    padding-bottom: 100%;
  }

  @include breakpoint(m) {
    padding-bottom: 66.66666%;
  }

  @include breakpoint(l) {
    padding-bottom: 50%;
  }

  @include breakpoint(xl) {
    padding-bottom: 40%;
  }
}

.item--primary-text {
  color: white;
  background-color: $orange;

  a {
    color: $darkgrey;
  }

  .item__content {
    padding: 10%;
  }

  &.item--w2 {
    .item__content {
      @include breakpoint(s) {
        padding: 5%;
      }
    }
  }
}

.item--secondary-text {
  @extend .item--primary-text;
  background-color: $darkgrey;

  a {
    color: $orange;
  }
}



// footer

.footer {
  padding: 30% 10% 10%;
  color: #979797;
  font-family: "Chaparral Pro", serif;
  background-color: #131b21;

  @include breakpoint(s) {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
  }

  @include breakpoint(m) {
    padding-right: 3.33333%;
    padding-left: 3.33333%;
    padding-bottom: 3.33333%;
  }

  @include breakpoint(l) {
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    font-size: 1.25em;
  }

  @include breakpoint(xl) {
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
  }
}

.footer__copyright {
  small {
    color: #fff;
    font-size: 1em;
  }
}

.footer__meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.instagram-link {
  display: block;
  margin-left: 1em;
}

.instagram-link__icon {
  display: block;
  width: 42px;
  height: auto;
}
